.container__card {
  width: 200px;
  height: 300px;
  border: solid 1px;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.card__title {
  color: whitesmoke;
}

.card__body {

  width: 130px;
  height: 190px;
  border-radius: 10px;
  background-color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card__body > img {
  width: 100%;
}

.card__stats {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;

  font-weight: bold;
  margin-top: 5px;
  font-size: 0.7em;
}

.card-stats__type {
  background-color: coral;
  padding: 2.5px 10px;
  border-radius: 2px;
  margin: 2px;

}

input {
  margin-bottom: 15px;
  padding: 10px;

  width: 180px;
}
